html {
    font-family: 'Poppins', sans-serif;
    background: #e1fce2;
}

.navbar {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background: white;
    white-space: nowrap;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);
    z-index: 5;

}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 10px;
}

.title {
    margin: 0px 20px 0px 10px;
    font-size: 36px;
    color: black;
}

.description {
    position: relative;
    top: 2px;
    font-weight: 400;
}

.options {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.navbar-button {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    height: 75px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: white;
}
.navbar-button:hover {
    background: #ececec;
}
.navbar-button:focus {
    outline: none;
}

#current {
    background: #949494;
    color: #f2f2f2;
}

.content {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.box-display {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 0px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, .2);
}

.content-title {
    font-weight: 600;
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid gray; 
    margin-bottom: 10px;
}

.lecture-code {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.reg {
    font-weight: 400;
    margin: 0px 10px 0px 10px;
}

#participants {
    margin: 10px 0 10px 0;
    font-weight: 600;
}

.participants {
    margin-bottom: 10px;
}

.sample-participant {
    margin: 10px 0px 10px 0px;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 10px;
    padding: 8px;
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px #999;
}
.button:hover {
    background: #e0e0e0;
}
.button:focus {
    outline: none;
}
.button:active {
    background: #e0e0e0;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.startparty {
    padding-left: 13px;
    padding-right: 13px;
}

.scheduled-time {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#date-input {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px 0px 10px;
    width: 280px;
}

.interactive {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar {
    padding: 100px 30px 100px 30px;
    margin: 20px;
    background: gray;
}

.time-chart {
    margin: 20px;
}

.scheduler {
    position: relative;
    top: -171px;
}

.left {
    position: relative;
    width: 300px;
}


/* stuff for my-parties */

.username {
    font-weight: 600;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    background: #f1f1f1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lecture-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.lecture-line:hover {
    background: #e0e0e0;
}

.lecture-line-content {
    font-size: 24px;
    margin: 10px 40px 10px 0px;
    
}

.code-and-join {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.join-button {
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    margin: 5px;
    padding: 0 20px 0 20px;
    box-shadow: 0 6px #999;
    margin-bottom: 10px;
}
.join-button:hover {
    background: #e1fce2;
}
.join-button:focus {
    outline: none;
}
.join-button:active {
    background: #e1fce2;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.myparties {
    width: 60%;
}

b {
    font-weight: 600;
}

.change-password-button {
    font-family: 'Poppins', sans-serif;
    margin: 2px;
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px #999;
}

/* stuff for login */

.username-label {
    font-size: 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.password-label {
    font-size: 1.5em;
    margin: 10px 0px 0px 8px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

#username-input {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    width: 200px;
}

#password-input {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    width: 200px;
}

.change-login {
    font-size: 13px;
    margin: 0;
}

/* stuff for dropdown */

.dropdown {
    display: none;
    position: fixed;
    background: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 77px;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    font-size: 20px;
}

.joinparty {
    margin-left: -178px;
}

.show {
    display: block;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.warning {
    color: darkred;
    font-weight: 400;
    font-size: 16px;
}

input {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}

/* time scheduler */

#scheduler {
    margin-bottom: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 28px;
    margin-top: 0;
}

.times-display {
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background: white;
    padding: 0;
    border-radius: 20px;
}

.time-button {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 1px 10px;
    padding: 2px 4px;
    background: #f1f1f1;
    border: 1px #4eca7f;
    border-style: solid;
    border-radius: 3px;
    width: 100%;
}

.time-button:hover {
    background: #e0e0e0;
}
.time-button1:hover {
    background: #e0e0e0;
}

/* stuff for party.html */

.jitsipage {
    position: fixed;
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jitsi-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 10px 0;
}

.jitsi-title {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 600;
}

.full {
    width: 100%;
}

/* arrow buttons */

.arrowbutton {
    border-radius: 50px;
    background: #f1f1f1;
    border: none;
    box-shadow: 0 6px #999;
}
.arrowbutton:hover {
    background: #e0e0e0;
}
.arrowbutton:focus {
    outline: none;
}
.arrowbutton:active {
    background: #e0e0e0;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.arrow-right {
    transform: rotate(180deg);
    padding: 8px 8px 10px 2px;
}

.arrow-left {
    padding: 9px 8px 9px 2px;
}