<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %} - Lecture Party</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}">
        <link rel='icon' href="{{ url_for('static', filename='lectureparty-logo.svg')}}">
        <script src="{{ url_for('static', filename='navbar-script.js')}}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css')}}">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        </script>
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>