<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %} - Lecture Party</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}">
        <link rel='icon' href="{{ url_for('static', filename='lectureparty-logo.svg')}}">
        <script src="{{ url_for('static', filename='navbar-script.js')}}"></script>
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>