{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Account{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action='create-account' name="login-form" method="post">
    <div class='navbar'>
        <div class='logo'></div>
        <h1 class='title'>LectureParty</h1>
        <h2 class='description'>Watching Online Lectures, Together</h2>
    </div>
    <div class='content'>
        <div class='box-display'>
            <h1 class='content-title'>Create Account</h1>
            <label class='username-label'>Username: <input id='login-input' name="username" placeholder="Username" required></label>
            <label class='password-label'>Password: <input id='login-input' name="password" placeholder="Password" required></label>
            <input type='submit' class='button' value='Create Account'>
        </div>
    </div>
</form>
{% endblock %}