<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Lecture Party</title>
        <link rel='stylesheet' href='./style.css'>
    </head>
    <body>
        <div class='navbar'>
            <div class='logo'></div>
            <h1 class='title'>LectureParty</h1>
            <h2 class='description'>Watching Online Lectures, Together</h2>
            <div class='options'>
                <button class='navbar-button'>Join Party</button>
                <button class='navbar-button'>Create Party</button>
                <button class='navbar-button'>My Parties</button>
            </div>
        </div>
        <div class='content'>
            <div class='lecture-info'>
                <h1 class='content-title'>Lecture Name</h1>
                <h2 class='lecture-code'>Code: <div class='reg'>passcode</div></h2>
                <div class='participants'>
                    <h2 id='participants'>Participants:</h2>
                    <div class='participants-list'>
                        <p class='sample-participant'>participant 1</p>
                        <p class='sample-participant'>participant 2</p>
                        <p class='sample-participant'>participant 3</p>
                    </div>
                </div>
                <button class='lecture-button startparty'>Start Party</button>
                <button class='lecture-button'>Party Notes</button>
            </div>
            <div class='scheduler'>
                <h1 class='content-title'>Scheduler</h1>
                <h2 class='scheduled-time'>This party is scheduled to be on: <input id='date-input' type='datetime-local'></input></h2>
                <div class='interactive'>
                    <div class='calendar'>
                        interactive calendar goes here
                    </div>
                    <div class='time-chart'>
                        interactive chart goes here
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>