{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Lecture Info{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class='navbar'>
    <img class='logo' src="{{ url_for('static', filename='lectureparty-logo.svg')}}"></img>
    <h1 class='title'>LectureParty</h1>
    <h2 class='description'>Watching Online Lectures, Together</h2>
    <div class='options'>
        <button class='navbar-button' onclick='switchJoinParty()'>Join Party</button>
        <div class='dropdown joinparty' id='joinparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form' method='post' action='/join_party'>
                    <label for='join-code'>Code: </label>
                    <input type='text' id='join-code' name='join-code'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' onclick='switchCreateParty()'>Create Party</button>
        <div class='dropdown createparty' id='createparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form'  method='post' action='/new_party'>
                    <label for='create-name'>Lecture ID: </label>
                    <input type='text' id='create-name' name='create-name'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <a href='/'><button class='navbar-button'>My Parties</button></a>
    </div>
</div>
<div class='content'>
    <div class='box-display'>
        <h1 class='content-title'>{{name}}</h1>
        <h2 class='lecture-code'>Code: <div class='reg'>{{code}}</div></h2>
        <div class='participants'>
            <h2 id='participants'>Participants:</h2>
            <div class='participants-list'>
                {% for participant in participants %}
                    <p class='sample-participant'>{{participant}}</p>
                {% endfor %}
                
            </div>
        </div>
        <button class='button startparty'>Start Party</button>
        <button class='button'>Party Notes</button>
    </div>
    <div class='box-display'>
        <h1 class='content-title'>Scheduler</h1>
        <div class='interactive'>
            <div class='calendar'>
                <h2 class='scheduled-time'>What days are you available? </h2>
                <form name="select-multiple">
                    <input id="multiple-date-select" name='dates'/>
                </form>
                <script>
                    var arr = [];
                    $('#multiple-date-select').multiDatesPicker({onSelect:function(datetext){
                
                        if(arr.includes(datetext)){
                            var table = document.getElementById('table-data');
                            var data = document.getElementById(datetext);
                            data.remove(); 
                            arr.splice(datetext,1)
                        }else{
                            arr.push(datetext)
                            var table = document.getElementById('table-data');
                            var row = document.createElement('tr');
                            var col = document.createElement('td');
                            row.setAttribute('id',datetext);
                            col.innerHTML = datetext;
                            row.appendChild(col);
                            table.appendChild(row);         
                        }   
                    }});        
                 </script>
            </div>
            <div class='time-chart'>
                interactive chart goes here
            </div>
        </div>
        <h2 class='scheduled-time'>This party is scheduled to be on: <input id='date-input' type='datetime-local'></h2>
    </div>
</div>
{% endblock %}