{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Lecture Info{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class='navbar'>
    <img class='logo' src="{{ url_for('static', filename='lectureparty-logo.svg')}}"></img>
    <h1 class='title'>LectureParty</h1>
    <h2 class='description'>Watching Online Lectures, Together</h2>
    <div class='options'>
        <button class='navbar-button' onclick='switchJoinParty()'>Join Party</button>
        <div class='dropdown joinparty' id='joinparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form' method='post' action='../join_party'>
                    <label for='join-code'>Code: </label>
                    <input type='text' id='join-code' name='join-code'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' onclick='switchCreateParty()'>Create Party</button>
        <div class='dropdown createparty' id='createparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form'  method='post' action='../new_party'>
                    <label for='create-name'>Lecture ID: </label>
                    <input type='text' id='create-name' name='create-name'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <a href='/'><button class='navbar-button'>My Parties</button></a>
    </div>
</div>
<div class='content'>
    <div class='box-display'>
        <h1 class='content-title'>{{name}}</h1>
        <h2 class='lecture-code'>Code: <div class='reg'>{{code}}</div></h2>
        <div class='participants'>
            <h2 id='participants'>Participants:</h2>
            <div class='participants-list'>
                {% for participant in participants %}
                    <p class='sample-participant'>{{participant}}</p>
                {% endfor %}
                
            </div>
        </div>
        <a href='../partymeet/{{code}}'><button class='button startparty'>Start Party</button></a>
        <button class='button'>Party Notes</button>
    </div>
    <div class='box-display'>
        <h1 class='content-title' id='scheduler'>Scheduler</h1>
        <div class='interactive'>
            <div class='scheduler'>
                <h1 class='content-title subtitle' id='available-dates'>Available Dates</h1>
                <label for='datepicker'>Select an available day: </label><br>
                <input type='text' id='datepicker' class='left' name='date' placeholder='click to add a new date'><br>
                <button class='button small' id='confirm-date' onclick='confirmDate()'>Confirm Date</button>
                <div><label id='no-date' style='visibility:hidden'>No day chosen!</label></div>
            </div>
            <div class='time-chart'>
                <h1 class='content-title subtitle'>Available Times</h1>
                <div id='choose-times' style='visibility:hidden'>
                    <label id=time-picker>What times are you available?</label>
                    <div class='times-display' id='times-display'></div>
                    <button class='button small' onclick='confirmTime()'>Confirm Time</button>
                </div>
            </div>
        </div>
        <button class='button' id='submit-datetime' onclick='submitEverything()'>Submit Date and Times</button>
        <h2 class='scheduled-time'>This party is scheduled to begin: <b id='dateandtime'>Date and Time</b></h2>
    </div>
</div>
<script>
    
    var bigArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    var array = [ 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0 ];
    document.addEventListener('DOMContentLoaded', function() {
            
        var container = document.getElementById('times-display');

        var amButton1 = document.createElement('button');
        amButton1.type = 'button';
        amButton1.id = 'b0'
        amButton1.innerHTML = "12:00 AM - 1:00 AM";
        amButton1.className = 'time-button';
        container.appendChild(amButton1);
        amButton1.onclick = function changeClick() {
            var button = document.getElementById('b0');
            if(array[0] == 0) {
                array[0] = 1;
                button.style.backgroundColor = '#4eca7f';
            }
            else {
                array[0] = 0;
                button.style.backgroundColor = '#f1f1f1';
            }
        };;

        var pmButton2 = document.createElement('button');
        pmButton2.type = 'button';
        pmButton2.id = 'b12';
        pmButton2.innerHTML = "12:00 PM - 1:00 PM";
        pmButton2.className = 'time-button';
        container.appendChild(pmButton2);
        pmButton2.onclick = function changeClick() {
            var button = document.getElementById('b12');
            if(array[12] == 0) {
                array[12] = 1;
                button.style.backgroundColor = '#4eca7f';
            }
            else {
                array[12] = 0;
                button.style.backgroundColor = '#f1f1f1';
            }
        };

        var i;
        for (i = 1; i < 11; i++) {
            var amButton = document.createElement('button');

            amButton.type = 'button';
            amButton.id = 'b' + (i).toString();
            amButton.innerHTML = i.toString() + ":00 AM - " + (i+1).toString() + ":00 AM";
            amButton.className = 'time-button';
            container.appendChild(amButton);
            amButton.onclick = function changeClick() {
                let tmp=parseInt((this.id.substr(1)));
                if(array[tmp] == 0) {
                    array[tmp] = 1;
                    this.style.backgroundColor = '#4eca7f';
                }
                else {
                    array[tmp] = 0;
                    this.style.backgroundColor = '#f1f1f1';
                }
            };;

            var pmButton = document.createElement('button');
            pmButton.type = 'button';
            pmButton.id = 'b' + (12+i).toString();
            pmButton.innerHTML = i.toString() + ":00 PM - " + (i+1).toString() + ":00 PM";
            pmButton.className = 'time-button';
            container.appendChild(pmButton);
            pmButton.onclick = function changeClick() {
                let tmp=parseInt((this.id.substr(1)));
                if(array[tmp] == 0) {
                    array[tmp] = 1;
                    this.style.backgroundColor = '#4eca7f';
                }
                else {
                    array[tmp] = 0;
                    this.style.backgroundColor = '#f1f1f1';
                }
            };;
        }

        var pmButton1 = document.createElement('button');
        pmButton1.type = 'button';
        pmButton1.id = 'b11';
        pmButton1.innerHTML = "11:00 AM - 12:00 PM";
        pmButton1.className = 'time-button'
        container.appendChild(pmButton1);
        pmButton1.onclick = function changeClick() {
            let tmp=parseInt((this.id.substr(1)));
            if(array[tmp] == 0) {
                array[tmp] = 1;
                this.style.backgroundColor = '#4eca7f';
            }
            else {
                array[tmp] = 0;
                this.style.backgroundColor = '#f1f1f1';
            }
        };;

        var amButton2 = document.createElement('button');
        amButton2.type = 'button';
        amButton2.id = 'b23';
        amButton2.innerHTML = "11:00 PM - 12:00 AM";
        amButton2.className = 'time-button'
        container.appendChild(amButton2);
        amButton2.onclick = function changeClick() {
            let tmp=parseInt((this.id.substr(1)));
            if(array[tmp] == 0) {
                array[tmp] = 1;
                this.style.backgroundColor = '#4eca7f';
            }
            else {
                array[tmp] = 0;
                this.style.backgroundColor = '#f1f1f1';
            }
        };;

    }, false);
    
    function confirmDate() {
        let datepicker = document.getElementById('datepicker');
        let date = datepicker.value;
        let not_entered = document.getElementById('no-date');
        if (date == '' || date == 'click to add a new date') {
            not_entered.style.visibility = 'visible';
        }
        else {
            let label = document.getElementById('time-picker');
            label.innerHTML = 'What times are you available on ' + date + '?';
            if (not_entered.style.visibility == 'visible')
               not_entered.style.visibility = 'hidden'; 
            document.getElementById('choose-times').style.visibility = 'visible';
        }
    }

    function confirmTime() {
        let datepicker = document.getElementById('datepicker');
        let date = datepicker.value.substring(3,5);
        let index = -1;
        if (date == '30') {
            index = 10;
        }
        else {
            index = parseInt(date.substring(1));
        }
        bigArray[index] = array;
        array = [ 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0 ];

        var buttons_for_time = document.getElementsByClassName('time-button');
        var k;
        for(k = 0; k < buttons_for_time.length; k++) {
            buttons_for_time[k].style.backgroundColor = '#f1f1f1';
        }
        document.getElementById('choose-times').style.visibility = 'hidden';
        console.log(bigArray);

        datepicker.value = '';
    }

    function submitEverything() {
        xmlhttp = new XMLHttpRequest;
        xmlhttp.open( "POST", "/date_info");
        xmlhttp.setRequestHeader( "Content-Type", "application/json" );
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var nums=JSON.parse(this.responseText);
                var c_string=convert(nums[0],nums[1]);
                document.getElementById("dateandtime").innerHTML=c_string;
           }
        };
        var sendData={"room":{{code}},"arr":bigArray};
        xmlhttp.send(JSON.stringify(sendData)); 
        
        bigArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        array = [ 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0 ];

        
    }
    
    function convert(date, time) {
        let converted = "";
        if (date < 10) {
            converted += "09/2" + date.toString() + "/2020";
        }
        else {
            converted += "09/30/2020";
        }
        converted += ", ";
        if (time == 0) {
            converted += "12:00 AM";
        }
        else if (time < 12) {
            converted += time.toString() + ":00 AM";
        }
        else if (time == 12) {
            converted += "12:00 PM";
        }
        else if (time < 24) {
            converted += (time-12).toString() + ":00 PM";
        }
        else {
            converted += "error";
        }
        return converted;
    }
    {% if date is defined %}
    var converted=convert({{date}},{{time}});
    document.getElementById("dateandtime").innerHTML=converted;
    {% endif %}
</script>
{% endblock %}