{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<body>
    <form action='auth' name="login-form" method="post">
        <div class='navbar'>
            <div class='logo'></div>
            <h1 class='title'>LectureParty</h1>
            <h2 class='description'>Watching Online Lectures, Together</h2>
        </div>
        <div class='content'>
            <div class='box-display'>
                <h1 class='content-title'>Login</h1>
                <label class='username-label'>Username: <input id='login-input' name="username" placeholder="Username" required></label>
                <label class='password-label'>Password: <input id='login-input' name="password" placeholder="Password" required></label>
                <input type='submit' class='button' value='Login'>
            </div>
        </div>
    </form>
</body>
{% endblock}