{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Parties{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class='navbar'>
    <img class='logo' src="{{ url_for('static', filename='lectureparty-logo.svg')}}"></img>
    <h1 class='title'>LectureParty</h1>
    <h2 class='description'>Watching Online Lectures, Together</h2>
    <div class='options'>
        <button class='navbar-button' onclick='switchJoinParty()'>Join Party</button>
        <div class='dropdown joinparty' id='joinparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form' method='post' action='join_party'>
                    <label for='join-name'>Name: </label>
                    <input type='text' id='join-name' name='join-name'><br>
                    <label for='join-code'>Code: </label>
                    <input type='text' id='join-code' name='join-code'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' onclick='switchCreateParty()'>Create Party</button>
        <div class='dropdown createparty' id='createparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form' method='post' action='new_party'>
                    <label for='create-name'>Name: </label>
                    <input type='text' id='create-name' name='create-name'><br>
                    <label for='create-code'>Code: </label>
                    <input type='text' id='create-code' name='create-code'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' href='my_parties' id='current'>My Parties</button>
    </div>
</div>
<div class='content'>
    <div class='box-display'>
        <h1 class='content-title'>Profile</h1>
        <h2 class='username'>Username: <div class='reg'>{{ g.user['username']}}</div></h2>
        <button class='button' onclick='displayChangePassword()'>Change Password</button>
            <form action='update_password' id="change-password-form" method="post" style='display:none'>
                <label>New Password: </label>
                <br>
                <input type='password' name='password' id='new-password'>
                <br>
                <input type='checkbox'onclick="togglePassword()"> Show Password
                <br>
                <button class='change-password-button'>Submit</button>
            </form>
        <button class='button' href='log_out'>Log Out</button>
    </div>
    <div class='box-display myparties'>
        <h1 class='content-title'>My Parties</h1>
        <div class='scrollmenu'>
            <div class='lecture-line'>
                <p class='lecture-line-content'><b>Name:</b> UCLA CS 31</p>
                <p class='lecture-line-content'><b>Code:</b> passcode</p>
                <button class='join-button'>join</button>
            </div>


            <div class='lecture-line'>
                <p class='lecture-line-content'><b>Name:</b> UCLA CS 32</p>
                <p class='lecture-line-content'><b>Code:</b> passcode</p>
                <button class='join-button'>join</button>
            </div>
            <div class='lecture-line'>
                <p class='lecture-line-content'><b>Name:</b> UCLA CS 33</p>
                <p class='lecture-line-content'><b>Code:</b> passcode</p>
                <button class='join-button'>join</button>
            </div>




        </div>
    </div>
</div>
<script>
    function togglePassword() {
      var x = document.getElementById("new-password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    function displayChangePassword() {
        document.getElementById('change-password-form').style.display='block';
    }
</script>
{% endblock %}