{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Lecture Party{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class='navbar'>
    <img class='logo' src='./lectureparty-logo.svg'></img>
    <h1 class='title'>LectureParty</h1>
    <h2 class='description'>Watching Online Lectures, Together</h2>
    <div class='options'>
        <button class='navbar-button' onclick='switchJoinParty()'>Join Party</button>
        <div class='dropdown joinparty' id='joinparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form'>
                    <label for='join-code'>Code: </label>
                    <input type='text' id='join-code' name='join-code'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' onclick='switchCreateParty()'>Create Party</button>
        <div class='dropdown createparty' id='createparty'>
            <div class='dropdown-container'>
                <div class='warning'>*warning here*</div>
                <form class='form'>
                    <label for='create-name'>Lecture ID: </label>
                    <input type='text' id='create-name' name='create-name'><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
        <button class='navbar-button' onclick='window.location.href = "./my-parties.html"'>My Parties</button>
    </div>
</div>

<div class='jitsipage'>
    <h2 class='jitsi-title'>{{name}}</h2>
    <div align='center' class='full'>
        <div class='jitsi-embed' id='jitsi-parent'></div>
    </div>
    <div class='jitsi-buttons'>
        <button class='button startparty'>Go Back</button>
        <button class='button'>Party Notes</button>
    </div>
</div>

<style>
.jitsi-embed {
    width: 100%;
    height: 100%;
}
</style>

<script src='https://meet.jit.si/external_api.js'></script>
<script>
let parent_node = document.getElementById('jitsi-parent')
let jitsi_options = {
    parentNode: parent_node,
    roomName: '{{roomnumber}}',
    width: '60%',
    height: '400px',
    userInfo: {
        displayName: '{{username}}'
    },
}
let jitsi_api = new JitsiMeetExternalAPI("meet.jit.si", jitsi_options)

let local_user_id = null

jitsi_api.addListener('videoConferenceJoined', 
    ({roomName: room_name, id: user_id, displayName: display_name, avatarURL: url}) => {
        local_user_id = user_id
    }
)

jitsi_api.addListener('incomingMessage', ({from: id, nick: name, message: message}) => {
    console.log(id, name, message)
})

jitsi_api.addListener('outgoingMessage', ({message: message}) => {
    console.log("sent message: ", message)
    if (message === "!startRecording") {
        console.log("Started Recording")
        jitsi_api.executeCommand('startRecording', {
            mode: 'file',
            dropboxtoken: '6XGVKLKCyTsAAAAAAAAAAQMcJkZHQdpEJnRFUDPbwj2V_SO7lNOKg1uYC8AT8AkD',
        })
        jitsi_api.executeCommand('setLargeVideoParticipant', local_user_id)
    }
    if (message === "!stopRecording") {
        jitsi_api.executeCommand('stopRecording', 'file')
    }
})
</script>
{% endblock %}
